html {
	height: 100%;
}

body {
	background-color: white;
	height: 100%;
}

.tab-space {
	height: 100%;
	padding: 20px;
}

.workspace .workspace-tab-template, .workspace-pane .workspace-pane-template, .workspace .close-btn-template {
	display: none;
}

.workspace .workspace-tab, .add {
	margin-top: 12px;
}

.workspace.padding-12 {
	padding-top: 0px;
}

.workspace .close-btn {
	margin-left: 4px;
	padding-left: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 8px;
	margin-right: 4px;
	opacity: 0.4;
}

.workspace .close-btn:hover {
	opacity: 1.0;
}
.workspace .workspace-tab > a {
	padding-right: 0px;
}

.btn > [class*="fa-"] {
	display: inline;
	margin-right: 1em;
}
